.button {
  background-color: rgb(213, 0, 211, 1);
  border: solid .25rem rgb(222, 0, 195); 
  border-radius: .5rem;
  color: white;
  font-size: 120%;
  outline: none;
  padding: .5rem;
  font-weight: 700;
}
