$lightPink: 

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  margin-top: 0;
  margin-bottom: 4rem;
  padding-top: 2rem;
}
.App-wrapper {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.button {
  /* background-color: rgb(213, 0, 211, 1); */
  border: solid 2px rgb(222, 0, 195); 
  border-radius: .5rem;
  color: white;
  font-size: 120%;
  outline: none;
  padding: .5rem;
  font-weight: 700;
  background:
    linear-gradient(180deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient(170deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient(160deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient(150deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient(140deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient(130deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient(120deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient(110deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient(100deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient( 90deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient( 80deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient( 70deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient( 60deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient( 50deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient( 40deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient( 30deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient( 20deg, transparent 50%, darkorange 50%, darkorange 100%),
    linear-gradient( 10deg, transparent 50%, orange 50%, orange 100%),
    linear-gradient(  0deg, transparent 50%, darkorange 50%, darkorange 100%);
}
